<footer class="site-footer">
  <div class="footer-inner">
    <div>
      <div class="footer-col-title">Sections</div>
      <ul class="footer-links">
        {% for item in site.nav_pages %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
      </ul>
    </div>
    <div>
      <div class="footer-col-title">Subscribe</div>
      <ul class="footer-links">
        <li><a href="{{ '/feed.xml' | relative_url }}">Atom Feed</a></li>
      </ul>
    </div>
    <div>
      <div class="footer-col-title">Connect</div>
      <ul class="footer-links">
        {% if site.author.github %}
          <li><a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">GitHub</a></li>
        {% endif %}
        {% if site.author.weibo %}
          <li><a href="{{ site.author.weibo }}" target="_blank" rel="noopener">Weibo</a></li>
        {% endif %}
        {% if site.author.email %}
          <li><a href="mailto:{{ site.author.email }}">Email</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </div>
</footer>
