<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="author" content="{{ site.author.name }}">

<link rel="stylesheet" href="/assets/themes/Snail/css/main.css">
<link rel="stylesheet" href="/assets/themes/Snail/css/pages/journal.css">
<link rel="stylesheet" href="/assets/themes/Snail/css/team.css">
<link rel="stylesheet" href="/assets/themes/Snail/css/static.css">
<link rel="stylesheet" href="/assets/themes/Snail/css/errors.css">
<link rel="stylesheet" href="/assets/themes/Snail/css/rouge.css">

<link rel="shortcut icon" href="/assets/themes/Snail/img/favicon.ico">

<script src="/assets/themes/Snail/js/loadmore.js" defer></script>

{% seo %}

<!-- Atom feed -->
<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
