<nav>
	<div id="nav-l"></div>
	<div id="nav-c">
		<ul id="nav-list" style="width: 700px;">
			<li id="home"><a href="/">Home</a></li>
			{% for item in site.nav_pages %}
				{% if page.url == item.url or page.url == item.url | append: '/' %}
					<li id="{{ item.title }}" class="active">
						<span class="nav-l-active"></span>
						<a href="{{ item.url }}" class="active">{{ item.title }}</a>
						<span class="nav-r-active"></span>
					</li>
				{% else %}
					<li id="{{ item.title }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<form id="nav-search" method="GET" action="/search">
			<div id="search-right-pix">
				<div id="search-left-pix">
					<div id="search-center-pix">
						<div id="search-icon-pix"></div>
						<input name="query" type="text" placeholder="Search">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="nav-r"></div>
</nav>
